body {
    min-height: 100svh;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
}

.row {
    display: flex;
    width: 180px;
    background-color: palegreen;

    &:nth-child(odd) {
        /* 相間變色 */
        background-color: lightblue;
    }

    .col {
        width: 60px;
        height: 30px;
        display: grid;
        place-items: center;
        cursor: pointer;
        /* 變手指 */
        user-select: none;

        /* 不能選取反白 */
        &.active {
            background-color: turquoise;
            color: white;
        }

        &.active:nth-child(odd) {
            background-color: rgb(228, 21, 228);
            color: #fff;
        }
    }
}